<!--<c-footer>-->
  <div>
    <a href="https://coreui.io/pro/angular/" target="_blank">SQA</a>
    <span> &copy; 2023 PTIT</span>
  </div>
  <div class="ms-auto">
    Powered by
    <a href="https://www.facebook.com/profile.php?viewas=100000686899395&id=100008706346706" target="_blank">
      <span> TrungNH</span>
    </a>
  </div>
<!--</c-footer>-->
