<div class="bg-white rounded">
    <c-container>
      <c-row class="justify-content-center">
        <c-col md="8">
          <c-card-group>
            <c-card class="p-4">
              <c-card-body>
                <form class="text-center mt-3" [formGroup]="formCaculate">
                  <h1>Tính mức đóng bảo hiểm y tế online</h1>
                  <!-- <p class="text-medium-emphasis">Sign In to your account</p> -->
                  <c-input-group class="mb-4">
                    <input
                      matInput
                      type="text"
                      formControlName="name"
                      class="rounded w-50"
                      style="height: 36px"
                      readonly
                    />
                  </c-input-group>
                  <c-input-group class="mb-3">
                    <input
                      matInput
                      formControlName="salary"
                      placeholder=" Nhập mức lương"
                      class="rounded w-50"
                      style="height: 36px"
                    />
                  </c-input-group>
                </form>
                <c-input-group class="mb-4">
                    <input name="type" checked="checked" class="ms-5" type="radio" value="1" [(ngModel)]="project.duration"/>Người lao động
                    <input name="type" class="ms-5" type="radio" value="2" [(ngModel)]="project.duration"/>Học sinh, sinh viên
                    <input name="type" class="ms-5" type="radio" value="3" [(ngModel)]="project.duration"/>Hộ nghèo, cận nghèo
                  </c-input-group>
                  <span class="float-start mb-3">Theo hộ gia đình</span>
                  <c-input-group class="mb-4">
                    <input class="ms-5" name="type" type="radio" value="4" [(ngModel)]="project.duration"/>Người thứ nhất
                    <input class="ms-5" name="type" type="radio" value="5" [(ngModel)]="project.duration"/>Người thứ hai
                    <input class="ms-5" name="type" type="radio" value="6" [(ngModel)]="project.duration"/>Người thứ ba
                  </c-input-group>
                  <c-input-group>
                    <input class="ms-5" name="type" type="radio" value="7" [(ngModel)]="project.duration"/>Người thứ tư
                    <input class="ms-5" name="type" type="radio" value="8" [(ngModel)]="project.duration"/>Người thứ năm trở đi
                  </c-input-group>
                  <c-row class="mt-3">
                    <c-col>
                      <button cButton class="px-4 w-100" color="primary" (click)="onCaculate()">
                        OK
                      </button>
                    </c-col>
                    <!-- <c-col class="text-right" xs="6">
                      <button cButton class="px-0" color="link">
                        Forgot password?
                      </button>
                    </c-col> -->
                  </c-row>
                <form class="mt-4">
                  <h1>Mức bảo hiểm y tế phải đóng/tháng là: {{resdata}} VNĐ</h1>
                </form>
                <div class="row">
                    <c-input-group class="mb-3">
                      <input
                        matInput
                        [ngModel]="money"
                        placeholder=" Số tiền phải nộp"
                        class="rounded w-50"
                        style="height: 36px"
                      />
                    </c-input-group>
                </div>
                <c-row class="mt-3">
                    <c-col>
                      <button cButton class="px-4 w-100" color="primary" (click)="onCaculate()">
                        Nộp tiền
                      </button>
                    </c-col>
                    <!-- <c-col class="text-right" xs="6">
                      <button cButton class="px-0" color="link">
                        Forgot password?
                      </button>
                    </c-col> -->
                  </c-row>
              </c-card-body>
            </c-card>
          </c-card-group>
        </c-col>
      </c-row>
    </c-container>
  </div>
  
