<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
  <c-container>
    <c-row class="justify-content-center">
      <c-col md="8">
        <c-card-group>
          <c-card class="p-4">
            <c-card-body>
              <form class="text-center mt-3" [formGroup]="formLogin">
                <h1>Đăng nhập</h1>
                <!-- <p class="text-medium-emphasis">Sign In to your account</p> -->
                <c-input-group class="mb-3">
                  <span cInputGroupText>
                    <svg cIcon name="cilUser"></svg>
                  </span>
                  <input
                    matInput
                    formControlName="username"
                    placeholder=" Username"
                    class="rounded-end"
                    style="width: 88%;"
                  />
                </c-input-group>
                <c-input-group class="mb-4">
                  <span cInputGroupText>
                    <svg cIcon name="cilLockLocked"></svg>
                  </span>
                  <input
                    matInput
                    autoComplete="current-password"
                    formControlName="password"
                    placeholder=" Password"
                    type="password"
                    style="width: 88%;"
                    class="rounded-end"
                  />
                </c-input-group>
                <c-row>
                  <c-col>
                    <button
                      cButton
                      class="px-4 w-100"
                      color="primary"
                      (click)="onLogin()"
                    >
                      Login
                    </button>
                  </c-col>
                  <!-- <c-col class="text-right" xs="6">
                    <button cButton class="px-0" color="link">
                      Forgot password?
                    </button>
                  </c-col> -->
                </c-row>
              </form>
            </c-card-body>
          </c-card>
          <c-card
            [ngStyle]="{ 'width.%': 44 }"
            class="text-white bg-primary py-5"
          >
            <c-card-body class="text-center">
              <div>
                <h2>Đăng ký</h2>
                <p>
                  Chưa có tài khoản?
                </p>
                <button
                  [active]="true"
                  cButton
                  class="mt-3"
                  color="primary"
                  routerLink="/register"
                >
                  Đăng ký ngay
                </button>
              </div>
            </c-card-body>
          </c-card>
        </c-card-group>
      </c-col>
    </c-row>
  </c-container>
</div>
