<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
  <c-container>
    <c-row class="justify-content-center">
      <c-col lg="7" md="9" xl="6">
        <c-card class="mx-4">
          <c-card-body class="p-4">
            <form class="text-center" [formGroup]="formSignup">
              <h1>Đăng ký</h1>
              <p class="text-medium-emphasis">Đăng ký tài khoản của bạn</p>
              <c-input-group class="mb-3">
                <span cInputGroupText>
                  <svg cIcon name="cilUser"></svg>
                </span>
                <input autoComplete="name" formControlName="username" placeholder="Tên đăng nhập" class="rounded-end"
                    style="width: 92%;" />
              </c-input-group>
              <c-input-group class="mb-3">
                <span cInputGroupText>
                  <svg cIcon name="cilLockLocked"></svg>
                </span>
                <input autoComplete="new-password" formControlName="password" placeholder="Mật khẩu" type="password"  class="rounded-end"
                    style="width: 92%;"/>
              </c-input-group>
              <c-input-group class="mb-4">
                <span cInputGroupText>
                  <svg cIcon name="cilLockLocked"></svg>
                </span>
                <input autoComplete="new-confirm-password" formControlName="confirmPassword" placeholder="Nhập lại mật khẩu" type="password"  class="rounded-end"
                    style="width: 92%;"/>
              </c-input-group>
              <c-input-group class="mb-4">
                <span cInputGroupText>
                  <svg cIcon name="cilUser"></svg>
                </span>
                <input autoComplete="new-password" formControlName="name" placeholder="Họ tên" type="text"  class="rounded-end"
                    style="width: 92%;"/>
              </c-input-group>
              <div class="d-grid">
                <button cButton color="success" (click)="onSignup()">Đăng ký</button>
              </div>
              <div class="d-grid mt-3">
                <button cButton color="secondary" routerLink="/login">Đăng nhập</button>
              </div>
            </form>
          </c-card-body>
        </c-card>
      </c-col>
    </c-row>
  </c-container>
</div>
