<div class="bg-white rounded">
  <c-container>
    <c-row class="justify-content-center">
      <c-col md="8">
        <c-card-group>
          <c-card class="p-4">
            <c-card-body>
              <form class="text-center mt-3" [formGroup]="formCaculate">
                <h1>Tính mức đóng bảo hiểm y tế online</h1>
                <!-- <p class="text-medium-emphasis">Sign In to your account</p> -->
                <c-input-group class="mb-3">
                  <input
                    matInput
                    formControlName="salary"
                    placeholder=" Nhập mức lương"
                    class="rounded w-100"
                    style="height: 36px"
                  />
                </c-input-group>
              </form>
              <c-input-group class="mb-4">
                <input
                  name="type"
                  checked="checked"
                  class="ms-5 me-2"
                  type="radio"
                  value="1"
                  [(ngModel)]="project.duration"
                />Người lao động
                <input
                  name="type"
                  class="ms-5 me-2"
                  type="radio"
                  value="2"
                  [(ngModel)]="project.duration"
                />Học sinh, sinh viên
                <input
                  name="type"
                  class="ms-5 me-2"
                  type="radio"
                  value="3"
                  [(ngModel)]="project.duration"
                />Hộ nghèo, cận nghèo
              </c-input-group>
              <span class="float-start mb-3">Theo hộ gia đình</span>
              <c-input-group class="mb-4">
                <input
                  class="ms-5 me-2"
                  name="type"
                  type="radio"
                  value="4"
                  [(ngModel)]="project.duration"
                />Người thứ nhất
                <input
                  class="ms-5 me-2"
                  name="type"
                  type="radio"
                  value="5"
                  [(ngModel)]="project.duration"
                />Người thứ hai
                <input
                  class="ms-5 me-2"
                  name="type"
                  type="radio"
                  value="6"
                  [(ngModel)]="project.duration"
                />Người thứ ba
              </c-input-group>
              <c-input-group>
                <input
                  class="ms-5 me-2"
                  name="type"
                  type="radio"
                  value="7"
                  [(ngModel)]="project.duration"
                />Người thứ tư
                <input
                  class="ms-5 me-2"
                  name="type"
                  type="radio"
                  value="8"
                  [(ngModel)]="project.duration"
                />Người thứ năm trở đi
              </c-input-group>
              <c-row class="mt-3">
                <c-col>
                  <button
                    cButton
                    class="px-4 w-100"
                    color="primary"
                    (click)="onCaculate()"
                  >
                    OK
                  </button>
                </c-col>
                <!-- <c-col class="text-right" xs="6">
                    <button cButton class="px-0" color="link">
                      Forgot password?
                    </button>
                  </c-col> -->
              </c-row>
              <form class="mt-4">
                <h1>Mức bảo hiểm y tế phải đóng/tháng là: {{ resdata }} VNĐ</h1>
              </form>
              <!-- Button trigger modal -->
              <c-col>
                <button
                  type="button"
                  class="btn btn-primary"
                  data-bs-toggle="modal"
                  data-bs-target="#exampleModal"
                >
                  Nộp tiền
                </button>
              </c-col>
              <!-- Modal -->
              <div
                class="modal fade"
                id="exampleModal"
                tabindex="-1"
                aria-labelledby="exampleModalLabel"
                aria-hidden="true"
              >
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h3 class="modal-title" id="exampleModalLabel">
                        Vui lòng chuyển khoản vào tài khoản sau đây:
                      </h3>
                      <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                      ></button>
                    </div>
                    <div class="modal-body">
                      <div>STK: 0901000119624</div>
                      <div class="">Ngân hàng: Vietcombank</div>
                      <div class="">Chủ thẻ: NGUYEN HA TRUNG</div>
                      <img
                        class="w-100"
                        src="../../../assets/images/qrcode.jpg"
                        alt=""
                      />
                    </div>
                    <div class="modal-footer">
                      <button
                        type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal"
                      >
                        Đóng
                      </button>
                      <!-- <button type="button" class="btn btn-primary">
                        Save changes
                      </button> -->
                    </div>
                  </div>
                </div>
              </div>
            </c-card-body>
          </c-card>
        </c-card-group>
      </c-col>
    </c-row>
  </c-container>
</div>
