<div class="bg-white rounded">
  <c-container>
    <form class="text-center mt-3 px-3" [formGroup]="formConfig">
      <h1 class="fs-1 pt-4">Cấu hình mức lương cơ bản</h1>
      <!-- <p class="text-medium-emphasis">Sign In to your account</p> -->
      <c-input-group class="mt-5 mb-3">
        <input
          matInput
          formControlName="baseSalary"
          placeholder=" Nhập mức lương cơ bản"
          class="rounded w-100"
          style="height: 36px"
        />
      </c-input-group>
      <c-row class="mt-4 pb-4">
        <c-col>
          <button cButton class="px-4 w-100" color="success" (click)="onSave()">Lưu</button>
        </c-col>
      </c-row>
    </form>
  </c-container>
</div>
